footer #logo 
{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

footer a 
{
  text-decoration: none;
  color: whitesmoke;
}

footer ul {
  padding-left: 0;
}

footer li {
  list-style: none;
  margin-top: .2rem;
}

.text-small {
  font-size: .8rem;
}