---
import MainLayout from "../layouts/MainLayout.astro";

const title = "О компании - ООО «ОПБ»";
---

<MainLayout title={title} description="О компании описание">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>О компании</h1>
        <p>
          ООО «ОПБ» оказывает услуги по проектированию, монтажу, техническому
          обслуживанию инженерных систем.
        </p>
        <p>
          Основная задача нашей компании: обеспечить ваши объекты качественными
          и своевременными решениями ваших потребностей.
        </p>
        <p>
          Наши квалифицированные сотрудники готовы решить самые сложные задачи и
          ответить на все интересующие Вас вопросы в области пожарной
          безопасности, системы охранно-тревожных сигнализаций, видеонаблюдения
          и других комплексов для бесперебойной работы технологических
          процессов.
        </p>
        <p>
          Наши квалифицированные сотрудники готовы решить самые сложные задачи и
          ответить на все интересующие Вас вопросы в области пожарной
          безопасности, системы охранно-тревожных сигнализаций, видеонаблюдения
          и других комплексов для бесперебойной работы технологических
          процессов.
        </p>
      </div>
      <div class="col-md-4">
        <img src="https://fakeimg.pl/400/?text=image" alt="" />
      </div>
    </div>
  </div>
</MainLayout>
