---
import MainLayout from "../layouts/MainLayout.astro";

const title = "Фотогалерея";
---

<MainLayout title={title} description="Фотогалерея описание">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="https://fakeimg.pl/650x400/?text=Image" class="img-fluid" alt="..." />
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="https://fakeimg.pl/650x400/?text=Image" class="img-fluid" alt="..." />
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="https://fakeimg.pl/650x400/?text=Image" class="img-fluid" alt="..." />
      </div>
    </div>
  
    <div class="row gy-4 mt-1">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="https://fakeimg.pl/650x400/?text=Image" class="img-fluid" alt="..." />
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="https://fakeimg.pl/650x400/?text=Image" class="img-fluid" alt="..." />
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="https://fakeimg.pl/650x400/?text=Image" class="img-fluid" alt="..." />
      </div>
    </div>
  </div>
</MainLayout>
