---
import MainLayout from "../layouts/MainLayout.astro";

import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const title = "Главная";
---

<MainLayout title={title} description="Главная описание">
  <h1>{title}</h1>
  <h2>Lorem ipsum dolor</h2>
  <p>
    Sed dignissim condimentum turpis. Quisque et odio nisl. Proin finibus nunc
    nec faucibus pretium. Integer in sollicitudin quam. Vestibulum ullamcorper
    dui at massa viverra consectetur. Maecenas et venenatis elit. Curabitur
    imperdiet pharetra orci eu gravida. Mauris ultricies euismod quam, et cursus
    ante pellentesque in. Nullam neque mauris, molestie in faucibus sed, sodales
    in purus. Nulla elit orci, lacinia eget ornare quis, convallis at metus.
    Maecenas egestas porttitor congue. Morbi in sem neque. Vestibulum fringilla
    lectus et neque eleifend, a congue sem efficitur. Fusce interdum turpis
    vulputate tempor pulvinar.
  </p>

  <img
    class="img-fluid rounded mx-auto d-block"
    src="https://fakeimg.pl/650x400/?text=Image"
  />

  <h3>Nulla vitae arcu vulputate</h3>
  <p>
    Duis consequat quam a egestas eleifend. Praesent in posuere mi. In hac
    habitasse platea dictumst. Praesent sed dolor ipsum. Nunc auctor, nunc sit
    amet suscipit tristique, orci libero convallis elit, sit amet maximus est
    quam eget turpis. Integer tristique, magna ac aliquam venenatis, velit nisi
    maximus turpis, ut tristique tortor orci luctus metus. Duis semper, ex nec
    pellentesque accumsan, lacus odio iaculis diam, vel aliquet nisi ante sit
    amet orci. Nullam lobortis mi massa, eu hendrerit sapien maximus quis. Cras
    nisi nunc, vulputate sed ipsum sit amet, porta posuere augue.
  </p>
  <p>
    Phasellus non erat tempor, consequat augue quis, eleifend massa. Nam
    tristique, leo nec efficitur iaculis, urna mauris lacinia elit, non
    tristique turpis magna sed orci. Donec ac velit finibus, molestie dui a,
    bibendum nunc. Sed lobortis lacus eu est viverra, ac vestibulum purus
    volutpat. Ut tempus imperdiet libero, id pretium ipsum euismod eget. In
    ipsum magna, pretium ac nisl eget, aliquam lobortis justo. Morbi risus elit,
    tempus ut varius eget, dictum vel augue.
  </p>
</MainLayout>
