---
import MainLayout from "../layouts/MainLayout.astro";

const title = "Услуги";
---

<MainLayout title={title} description="Описание услуг">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-lg-8">
        <h1>{title}</h1>
        <h5>
          Уровень профессионализма наших специалистов подтверждают такие
          выполненные объекты как:
        </h5>
        <ul>
          <li>СТАРТ г. Заречный.</li>
          <li>Радиозавод Пенза.</li>
          <li>Управление Росгвардии г. Москва.</li>
          <li>Управление ФСБ г. Мурманск.</li>
          <li>Тамань.</li>
          <li>База отдыха Росатом «Истра».</li>
          <li>Буртасы г. Пенза.</li>
          <li>ТЦ «Лев».</li>
          <li>Ростелеком.</li>
        </ul>

        <h2>Проектирование инженерных систем</h2>
        <h5>
          Команда профессиональных конструкторов и инженеров оказывают услуги по
          комплексному проектированию.
        </h5>

        <p>От совместной работы Вы получаете:</p>
        <ul>
          <li>Создание индивидуального проекта «с нуля»/</li>
          <li>
            Выбор наиболее оптимального конструктивного решения, отвечающего
            всем современным нормам и требованиям.
          </li>
          <li>Сметную стоимость объемов работ и материалов.</li>
          <li>
            Технический надзор, который даст Вам возможность полной гарантии
            качества и правильности при реализации проекта.
          </li>
        </ul>

        <h2>Противопожарная защита</h2>
        <p>
          Система противопожарной защиты - это комплекс технических решений и
          организационных мер, предназначенных для защиты людей и материальных
          ценностей от опасного и разрушающего воздействия пожара.
        </p>
        <h4 class="fw-light text-center">
          ООО «ОПБ» поможет решить обе проблемы, сэкономив Ваше время и бюджет!
        </h4>

        <h2>Электромонтажные работы</h2>
        <p>
          Под электромонтажными работами подразумевается комплекс строительных
          работ, осуществляемых при новом строительстве, либо модернизации и
          реконструкции зданий и сооружений различного предназначения, и
          предполагающих монтаж электрических сетей электрооборудования.
        </p>
        <h6>ООО «ОПБ» в кратчайший срок решит проблемы:</h6>
        <ul>
          <li>прокладки внутренней проводки и наружных кабельных линий;</li>
          <li>
            установки распределительного, защитного оборудования, приборов учета
            электроэнергии;
          </li>
          <li>монтажа электрического освещения;</li>
          <li>установки розеток, выключателей, переключателей;</li>
          <li>
            монтажа силового электрооборудования, промышленного технологического
            оборудования или установок;
          </li>
          <li>
            подключения отопительного, климатического, вентиляционного,
            насосного оборудования.
          </li>
        </ul>

        <h2>СКУД (Система контроля и управления доступом)</h2>
        <h6>Основной функцией данного раздела является</h6>
        <ul>
          <li>контроль доступа, прохода на объект;</li>
          <li>учёт рабочего времени;</li>
          <li>контроль за работой систем безопасности;</li>
        </ul>
        <p>
          Современные системы и материалы способны обеспечить Ваши объекты
          самыми передовыми и технически функциональными решениями, а ООО «ОПБ»
          поможет реализовать, внедрить и адаптировать Систему Контроля и
          Управления Доступом под конкретные задачи.
        </p>

        <h2>Структурированные кабельные сети</h2>
        <p>
          Структурированная кабельная система - это фундамент инфраструктуры
          любого современного предприятия. Она имеет практически неограниченную
          возможность по расширению и масштабированию, а также является системой
          «нового времени», поэтому способна решить все задачи современного
          мира.
        </p>

        <h2>Система видеонаблюдения</h2>
        <p>
          Система видеонаблюдения- один из ключевых факторов безопасности
          имущества, в независимости от форм собственности.
        </p>
        <p>
          Специалисты ОПБ готовы внимательно изучить окружение и технологические
          особенности, защищаемого объекта, определить основные угрозы и риски и
          оказать помощь с выбором необходимых характеристик системы.
        </p>
        <p>
          А современные комплексы видеоналитики, реализованные нашей
          организацией, помогут усовершенствовать и интегрировать системы
          безопасности Вашего объекта.
        </p>

        <h2>Система охранной сигнализации</h2>
        <p>
          Охранная сигнализация- ключевой элемент системы безопасности и ее
          важность неоспорима.
        </p>
        <p>
          Существует несколько основных типов ОС, имеющих свои особенности,
          преимущества и сферы применения.
        </p>
        <p>
          Новейшие технологии такие как «безопасный дом» или «безопасный бизнес»
          позволяют создать интеллектуальную экосистему, а все сложности с
          выбором ключевых элементов системы специалисты ОПБ возьмут на себя!
        </p>

        <h2>Система периметральной охранной сигнализации</h2>
        <p>
          Рубеж — вот основное понятие в системе охраны периметра. Определяя тип
          оборудования для каждого рубежа охраны необходимо учитывать ряд
          факторов, которые могут заметно влиять на эффективность работы
          элементов.
        </p>
        <p>
          Типы ограждений, виды вторжений, техногенные и природные факторы – это
          лишь часть вопросов, на которые могут ответить команда специалистов.
        </p>
        <h3 class="fw-light text-center">
          Доверить безопасность Вашего объекта ООО «ОПБ»- значит сэкономить Ваше
          время, нервы и бюджет!
        </h3>
      </div>
    </div>
  </div>
</MainLayout>
