<!-- <li class="nav-item dropdown">
            <HeaderLink
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Услуги
            </HeaderLink>
            <ul class="dropdown-menu">
              <li>
                <HeaderLink class="dropdown-item" href="#">
                  Проектирование
                </HeaderLink>
              </li>
              <li>
                <HeaderLink class="dropdown-item" href="#">
                  Монтаж и техническое обслуживание
                </HeaderLink>
              </li>
              <li>
                <HeaderLink class="dropdown-item" href="#">
                  Противопожарная защита
                </HeaderLink>
              </li>
              <li>
                <HeaderLink class="dropdown-item" href="#">
                  Электрика
                </HeaderLink>
              </li>
              <li>
                <HeaderLink class="dropdown-item" href="#">
                  Система контроля и управления доступом
                </HeaderLink>
              </li>
              <li>
                <HeaderLink class="dropdown-item" href="#">
                  Структурированные кабельные сети
                </HeaderLink>
              </li>
              <li>
                <HeaderLink class="dropdown-item" href="#">
                  Системы видеонаблюдения
                </HeaderLink>
              </li>
              <li>
                <HeaderLink class="dropdown-item" href="#">
                  Системы охранной сигнализации
                </HeaderLink>
              </li>
              <li>
                <HeaderLink class="dropdown-item" href="#">
                  Система периметральной охранной сигнализации
                </HeaderLink>
              </li>
              <li>
                <HeaderLink class="dropdown-item" href="#">
                  Общестроительные работы
                </HeaderLink>
              </li>
              <li>
                <HeaderLink class="dropdown-item" href="#">
                  Реконструкция зданий и сооружений
                </HeaderLink>
              </li>
            </ul>
          </li> -->