<table class="table table-hover">
  <tbody>
    <tr>
      <td>Полное наименование организации</td>
      <td
        >Общество с ограниченной ответственностью «Обеспечение пожарной
        безопасности»</td
      >
    </tr>
    <tr>
      <td>Сокращенное наименование</td>
      <td>ООО «ОПБ»</td>
    </tr>
    <tr>
      <td>Организационно-правовая форма</td>
      <td>Общество с ограниченной ответственностью</td>
    </tr>
    <tr>
      <td>Юридический адрес/Почтовый адрес</td>
      <td>440011, г. Пенза, Малая Бугровка, 10а, помещение № 1</td>
    </tr>
    <tr>
      <td>Фактический адрес</td>
      <td>440011, г. Пенза, Малая Бугровка, 10а, помещение № 1</td>
    </tr>
    <tr>
      <td>ОГРН/ОГРНИП</td>
      <td>1235800002900</td>
    </tr>
    <tr>
      <td>ИНН/КПП</td>
      <td>5835142357/583501001</td>
    </tr>
    <tr>
      <td>ОКТМО</td>
      <td>56000000000</td>
    </tr>
    <tr>
      <td>Расчетный счет</td>
      <td>40702810410001523994</td>
    </tr>
    <tr>
      <td>БИК</td>
      <td>044525974</td>
    </tr>
    <tr>
      <td>Банк</td>
      <td>АО «ТИНЬКОФФ БАНК»</td>
    </tr>
    <tr>
      <td>Корр. счет</td>
      <td>30101810145250000974</td>
    </tr>
    <tr>
      <td>Генеральный директор</td>
      <td>Филиппова Кристина Вячеславовна действует на основании устава</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>opb158@gmail.com</td>
    </tr>
    <tr>
      <td>Телефоны</td>
      <td>+7 (902) 354-34-34, +7 (8412) 72-34-34</td>
    </tr>
  </tbody>
</table>
