---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";

const response = await fetch("https://co.pageover.org/api/headermenu");
const data = await response.json();

const titles = data.map((item) => item.title_1);

console.log(titles);
---

<header>
  <nav
    class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-body"
  >
    <div class="container">
      <a class="navbar-brand" href="/opb158">
        <img id="logo" class="me-3" src="/opb158/logo.png" alt="logo" />
        {SITE_TITLE}</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
          <li class="nav-item">
            <HeaderLink class="nav-link" href="/opb158/about">
              О компании
            </HeaderLink>
          </li>
          <li class="nav-item">
            <HeaderLink class="nav-link" href="/opb158/services">
              Услуги
            </HeaderLink>
          </li>

          <li class="nav-item">
            <HeaderLink class="nav-link" href="/opb158/gallery">
              Фотогалерея
            </HeaderLink>
          </li>
          <li class="nav-item">
            <HeaderLink class="nav-link" href="/opb158/contacts">
              Контакты
            </HeaderLink>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
