---
// import type { CollectionEntry } from 'astro:content';
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";

import ResolutionComponent from "../components/ResolutionComponent.astro";

// type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="ru">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="d-flex flex-column min-vh-100">
    <Header />
    <main>

      <ResolutionComponent />

      <div class="mt-4 mb-4">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
